In [2]:
import pandas as pd

In [3]:
FS220N = pd.read_csv('/home/nicolas/Downloads/FS220N.txt')

In [4]:
FS220N

,CU_Number,CYCLE_DATE,JOIN_NUMBER,ACCT_AS0001,ACCT_AS0003,ACCT_AS0004,ACCT_AS0005,ACCT_AS0010,ACCT_AS0041,ACCT_AS0048,...,ACCT_PC0002,ACCT_PC0003,ACCT_PC0004,ACCT_PC0005,ACCT_PC0006,ACCT_PC0007,ACCT_PC0008,ACCT_PC0009,ACCT_PC0010,ACCT_SL0003
0,1,12/31/2020 0:00:00,2,0,125070,101341,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6,12/31/2020 0:00:00,7,0,0,4411321,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12,12/31/2020 0:00:00,11,248000,410562,608871,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,13,12/31/2020 0:00:00,12,0,66271474,3990848,5829000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,16,12/31/2020 0:00:00,14,0,0,96307,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5202,97107,12/31/2020 0:00:00,4960,0,28416180,1134882,251160,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5203,97108,12/31/2020 0:00:00,14738,0,0,329983,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5204,97109,12/31/2020 0:00:00,2759,0,354920,3923706,663621,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5205,97110,12/31/2020 0:00:00,17502,0,8908364,2469313,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5206,97111,12/31/2020 0:00:00,21049,1240000,0,685803,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [1]:
import sqlalchemy

In [2]:
engine = sqlalchemy.create_engine('mysql+mysqlconnector://nicolas:temppass@localhost:3306/sqlalchemy', echo=True)

In [3]:
%load_ext sql

In [4]:
%sql mysql+mysqlconnector://nicolas:temppass@localhost:3306/sqlalchemy

'Connected: nicolas@sqlalchemy'

In [14]:
%%sql
CREATE TABLE Family (NAME varchar(20),DATE_OF_BIRTH date);

 * mysql+mysqlconnector://nicolas:***@localhost:3306/sqlalchemy
0 rows affected.

[]

In [32]:
%%sql

INSERT INTO Family (NAME, DATE_OF_BIRTH)
VALUES ('Nicolas','1982/03/09'),('Belen','1986/11/17'),('Francisco','2020/07/22') ;

 * mysql+mysqlconnector://nicolas:***@localhost:3306/sqlalchemy
3 rows affected.

[]

In [31]:
%%sql
TRUNCATE TABLE Family

 * mysql+mysqlconnector://nicolas:***@localhost:3306/sqlalchemy
0 rows affected.

[]

In [33]:
%%sql
SELECT * FROM Family

 * mysql+mysqlconnector://nicolas:***@localhost:3306/sqlalchemy
3 rows affected.

[('Nicolas', datetime.date(1982, 3, 9)),
 ('Belen', datetime.date(1986, 11, 17)),
 ('Francisco', datetime.date(2020, 7, 22))]

In [65]:
%%sql
UPDATE Family
set DATE_OF_BIRTH = '2019/07/22'
WHERE NAME ='Francisco'

 * mysql+mysqlconnector://nicolas:***@localhost:3306/sqlalchemy
1 rows affected.

[]

In [66]:

%%sql

SELECT NAME, DATEDIFF(date('2021/05/10'),date(DATE_OF_BIRTH))/365 as AGE
FROM Family ;

 * mysql+mysqlconnector://nicolas:***@localhost:3306/sqlalchemy
3 rows affected.

[('Nicolas', Decimal('39.1973')),
 ('Belen', Decimal('34.5014')),
 ('Francisco', Decimal('1.8027'))]